@charset "utf-8";

/*样式重置*/
h3,h4,h5{
	margin: 0;
}
a{color: #333333;}
a:hover{text-decoration: none;}
i,em{font-style: normal;}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	vertical-align: middle;
}
.clear::before,
.clear::after{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
}
/*自定义字体*/
@font-face {
	font-family: "FontAwesome";
	src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
	url('../fonts/fontawesome-webfont.woff2') format('woff2'), 
	url('../fonts/fontawesome-webfont.woff') format('woff'), 
	url('../fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/fontawesome-webfont.svg') format('svg');
}


/*字体图标*/
[class^="am-icon-"],
[class*=" am-icon-"] {
	display: inline-block;
	font-family: "FontAwesome", sans-serif;
}

.am-icon-user:before {
    content: "\f007";
}
.am-icon-shopping-cart:before {
    content: "\f07a";
}
.am-icon-heart:before {
    content: "\f004";
}


/*公共头部样式*/
#header > .topbar {
	height: 35px;
	line-height: 35px;
}
#header > .topbar .row a{
	margin-left: 10px;
}
#header > .topbar .row a i{
	padding-right: 2px;
}

#header > .topsearch {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header > .topsearch .logo {
	max-width: 200px;
}
#header > .topsearch .logo img:nth-of-type(1){
	min-width: 115px;
	max-width: 200px;
	width: 100%;
}
#header > .topsearch .logo img:nth-of-type(2){
	width: 70px;
	display: none;
}
#header > .topsearch .search-bar {
	max-width: 600px;
}
@media only screen and (max-width: 768px) {
	#header > .topsearch .logo img:nth-of-type(1){
		display: none;
	}
	#header > .topsearch .logo img:nth-of-type(2){
		display: inline-block;
	}
}
@media only screen and (min-width: 768px) {
	#header > .topsearch .search-bar {
		margin-left: 200px;
		margin-top: 20px;
	}
	#header > .topsearch .search-bar .form-control,
	#header > .topsearch .search-bar button{
		height: 50px;
		font-size: 18px;
	}
}
@media only screen and (min-width: 1200px){
	#header > .topsearch .logo {
		margin-left: 100px;
	}
	#header > .topsearch .search-bar {
		max-width: 700px;
	}
}
#header > .topsearch .search-bar .form-control{
	border: 2px solid rgb(240, 55, 38);
}
#header > .topsearch .search-bar .form-control:focus{
	outline: none;
	box-shadow: none;
}
#header > .topsearch .search-bar button{
	color: #fff;
	border: 1px solid rgb(240, 55, 38);
	background-color: rgb(240, 55, 38);
	width: 100px;
}
#header > .topsearch .search-bar button:hover {
	color: #fff;
	background: rgb(240, 55, 38);
	border-color: rgb(240, 55, 38);
}
#header > .topsearch .search-bar button:focus {
	outline: none;
	box-shadow: none;
}

/*shopnav*/
@media only screen and (max-width: 1024px) {
	.hidden-hg{
		display: none;
	}
}
#header > .shopnav > .navbar {
	border: none;
	border-bottom: 2px solid #E92322;
	background: none;
	margin-bottom: 0;
}
#header > .shopnav > .navbar .navbar-brand {
	width: 150px;
	text-align: center;
	background-color: #E92322;
	color: #fff;
}

#header > .shopnav > .navbar .nav-link a{
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 16px;
	font-weight: 600;
}
@media only screen and (min-width: 1260px) {
	#header > .shopnav > .navbar .navbar-brand {
		width: 180px;
	}
}
#header > .shopnav > .navbar .dropdown .dropdown-toggle {
	width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #E92322;
	padding: 0;
	margin-top: 15px;
	color: #fcff00;
	font-size: 16px;
}
#header > .shopnav > .navbar .dropdown .dropdown-menu {
	min-width: 100px;
}
.am-icon-user-secret {
	position: relative;
}
.am-icon-user-secret::before {
    content: "\f21b";
    display: inline-block;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 4px solid #fff;
    position: absolute;
    top: -29px;
    left: -58px;
    background: #000;
    color: #fff;
}
/*end shopnav*/

/*navCir*/
#navCir {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2000;
	background: #FFFFFF;
	border-top: 1px solid #EEEEEE;
}
#navCir > ul > li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 25%;
	float: left;
	text-align: center;
}
#navCir > ul > li > a{
	display: inline-block;
	padding: 5px 10px;
}
#navCir > ul > li > a:focus,
#navCir > ul > li > a:hover{
	text-decoration: none;
}
#navCir > ul > li > a i{
	font-size: 18px;
	line-height: 18px;
}
#navCir .click > a{
	color: #E92322;
}

.am-icon-home:before {
    content: "\f015";
}
.am-icon-list:before {
    content: "\f03a";
}
.am-icon-shopping-basket:before {
    content: "\f291";
}
.am-icon-user:before {
    content: "\f007";
}

@media only screen and (min-width: 640px) {
	#navCir {
		display: none;
	}
}
/*end navCir*/

/*侧面菜单*/
#tip{
	display: none;
}
@media only screen and (min-width: 1024px) {
	#tip{
		display: block;
		width: 35px;
		height: 100vh;
		background: #000000;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2000;
		padding-top: 120px;
	}
	
	#tip > .sidebar-top{
		width: 100%;
		height: 400px;/*test*/
	}
	[class ^= "side-"] {
		width: 100%;
		position: relative;
	}
	.js-show {
		display: none;
	}
	/* 侧栏图标样式 */
	#tip > .sidebar-top .bar-a {
		display: inline-block;
		height: 38px;
		width: 35px;
	}
	#tip > .sidebar-top .bar-a i {
		display: inline-block;
		width: 22px;
		height: 19px;
		background: url(../images/indexImg/ibar_sprites.png) no-repeat 0 0;
		margin-top: 8px;
		margin-left: 7px;
	}
	#tip > .sidebar-top .a-hover{
		background-color: #ED145B;
	}
	/* 侧栏图标位置1 */
	#tip > .sidebar-top .side-user.a-hover i{
		background-position: -33px 0;	
	} 
	#tip > .sidebar-top .side-user a:hover i {
		background-position: -33px 0;
	}
	
	#tip .side-user .user-info {
		display: none;
		width: 300px;
		height: 220px;
		background: #fefefe;
		border: 1px solid #C0C0C0;
		border-radius: 5px;
		padding: 10px;
		position: absolute;
		top: 0;
		left: -300px;
	}
	#tip .side-user .user-info::before {
		content: " ";
		display: block;
		position: absolute;
		top: 6px;
		right: -12px;
		
		border-width: 8px;
    	border-left-color: #fefefe;
		width: 0;
	    height: 0;
	    border-top-color: transparent;
	    border-bottom-color: transparent;
	    border-right-color: transparent;
	    border-style: solid;
	}
	
	#tip .side-user .user-info .bar-user{
		padding-bottom: 10px;
		border-bottom: 1px dashed #C0C0C0;
	}
	#tip .side-user .user-info .bar-user-img{
		width: 100px;
		height: 100px;
		border-radius: 50px;
		overflow: hidden;
		float: left;
	}
	#tip .side-user .user-info .bar-user-name {
		padding-left: 20px;
		padding-top: 35px;
	}
	#tip .side-user .user-info .bar-user-order{
		text-align: center;
		padding-top: 20px;
	}
	#tip .side-user .user-info .bar-user-order a{
		width: auto;
		height: auto;
		padding: 3px 8px;
		border: 1px solid #C0C0C0;
		margin-right: 2px;
	}
	#tip > .sidebar-top .side-cart {
		padding-bottom: 12px;
	}
	
	/* 侧栏图标位置2 */
	#tip > .sidebar-top .side-cart a i {
		background-position: 0px -29px;
	}
	#tip > .sidebar-top .side-cart.a-hover i{
		background-position: -33px -29px;	
	} 
	#tip > .sidebar-top .side-cart a:hover i {
		background-position: -33px -29px;
	}
	
	
	#tip > .sidebar-top .side-cart p {
		color: #F5F5F5;
		width: 15px;
		margin-left: 10px;
		margin-bottom: 5px;
	}
	#tip > .sidebar-top .side-cart span {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		line-height: 30px;
		text-align: center;
		background-color: #ED145B;
		color: #FFFFFF;
		margin-left: 3px;
	}
	#tip > .sidebar-top .side-cart.a-hover span {
		background-color: #fefefe;
		color: #ED145B;
	}
	
	/* 侧栏图标位置3 */
	#tip > .sidebar-top .side-assets a i {
		background-position: 0px -57px;
	}
	#tip > .sidebar-top .side-assets.a-hover i{
		background-position: -33px -57px;	
	} 
	#tip > .sidebar-top .side-assets a:hover i {
		background-position: -33px -57px;
	}
	/* 侧栏图标内容区定位 */
	#tip .animate-to-right {
		width: 94px;
		height: 38px;
		line-height: 38px;
		text-align: center;
		background: #333;
		color: #FEFEFE;
		position: absolute;
		top: 0;
		left: -120px;
	}
	#tip .animate-to-right::after {
		content: " ";
		display: inline-block;
		width: 0;
		height: 0;
		border-width: 5px;
		border-left-color: #333;
		border-style: solid;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
		
		position: absolute;
		top: 15px;
		right: -10px;
	}
	
	
	/* 侧栏图标位置4 */
	#tip > .sidebar-top .side-footprint a i {
		margin-left: 10px;
		height: 27px;
		background-position: -4px -110px;
	}
	#tip > .sidebar-top .side-footprint.a-hover i{
		background-position: -37px -110px;	
	} 
	#tip > .sidebar-top .side-footprint a:hover i {
		background-position: -37px -110px;
	}
	
	#tip > .sidebar-bottom{
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
	}
	
	/* 侧栏图标样式 */
	#tip > .sidebar-bottom .bar-a {
		display: inline-block;
		height: 36px;
		width: 35px;
	}
	#tip > .sidebar-bottom .bar-a i {
		display: inline-block;
		width: 22px;
		height: 19px;
		background: url(../images/indexImg/ibar_sprites.png) no-repeat 0 0;
		margin-top: 8px;
		margin-left: 7px;
	}
	#tip > .sidebar-bottom .a-hover{
		background-color: #ED145B;
	}
	
	/* 侧栏底部图标位置1 */
	#tip > .sidebar-bottom .side-service a i {
		margin-left: 10px;
		height: 27px;
		background-position: 0 -175px;
	}
	#tip > .sidebar-bottom .side-service.a-hover i{
		background-position: -33px -175px;	
	} 
	#tip > .sidebar-bottom .side-service a:hover i {
		background-position: -33px -175px;
	}
	/* 侧栏底部图标位置2 */
	#tip > .sidebar-bottom .side-QRcode a i {
		margin-left: 10px;
		height: 27px;
		background-position: 0 -302px;
	}
	/*二维码位置*/
	#tip .side-QRcode .QRcode-content {
		width: 130px;
		height: 130px;
		text-align: center;
    	border: 1px solid #c0c0c0;
		background: #FEFEFE;
		padding-top: 8px;
		position: absolute;
		bottom: 0;
		left: -130px;
	}
	#tip .side-QRcode .QRcode-content::after {
		content: " ";
		display: inline-block;
		width: 0;
		height: 0;
		border-width: 5px;
		border-left-color: #FEFEFE;
		border-style: solid;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
		
		position: absolute;
		bottom: 13px;
		right: -10px;
	}
	
	/* 侧栏底部图标位置3 */
	#tip > .sidebar-bottom .side-toTop a i {
		margin-left: 10px;
		height: 20px;
		background-position: 0 -201px;
	}
	#tip > .sidebar-bottom .side-toTop.a-hover i{
		background-position: -33px -201px;	
	} 
	#tip > .sidebar-bottom .side-toTop a:hover i {
		background-position: -33px -201px;
	}
}

/*测试样式*/

